@model SMS.ViewModel.BookVM
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Book Detail</title>
    <link rel="stylesheet" href="~/wwroot/mine/css/user.css">
</head>
<body>
    <h1>Book Detail</h1>
    <div class="info">
        <a href="/AddToCart/ViewCart">
            Books in your cart
        </a>
    </div>

    <div class="detail">
        <a href="/User/Index" class="back">&laquo; Go Back</a>
            <img src="~/images/@Model.Cover" height="150">
        <h2>@Model.Title</h2>
        <i>by @Model.Author</i>
        <b>MMK @Model.Price </b>
        <p>@Model.Summary</p>
</div>
    <div class="footer">
        &copy; 2018. All right reserved.
    </div>
</body>
</html>