
@{
    ViewBag.Title = "";
}

<div  style="width:80%;height:80%">
    <b class="animated-dropdown-menu" align="center" valign="middle" style="color:#3C8DBC;font-size:50px;">Welcome To Online Book Store System</b>

</div>

