
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OBS | Sign In : User</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/wwroot/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/wwroot/mine/css/myStyle.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/wwroot/dist/css/AdminLTE.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Online Book Store</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg" >Sign In for User </p>

            <form id="frmLogin">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Name" name="txtName" id="txtName" onkeypress="return enter(event);">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="txtPassword" id="txtPassword" onkeypress="return enter(event);">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">

                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-success btn-flat" onclick="Login()" id="btnSignIn">Sign In</button>
                    </div>
                    <div class="col-xs-offset-8">
                        <a class="text-center" href="/User/Entry">Register a new membership</a>
                    </div>

                    <!-- /.col -->                  
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>

    <div class="modal" id="divError">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <p id="message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>


    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/wwroot/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/wwroot/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/wwroot/plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/wwroot/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/wwroot/mine/js/UserLogin.js"></script>
    <script>setValidationRule()</script>
</body>
</html>



