@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>OBS | Submit Order</title>
    <link rel="stylesheet" href="~/wwroot/mine/css/user.css">
</head>
<body>
    <h1>Submit Order</h1>
    <div class="msg">
        Your order has been submitted.We will deliver the books soon.
        <a href="/User/Index" class="done">Go back to Book Store</a>
    </div>
    <div class="footer">
        &copy;2018. All right reserved.
    </div>
</body>
</html>